header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute; 
    top: 110px;
    right: 0px;

}
nav li{
    display: inline;
    margin: 0 0 0 15px; /*//Espacio alredor de las palabras. Arriba = 0, derecha=0, abajo=0,izquierda=25px*/
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;/*Quitar decoracion por defecto. Quito el subrayado*/
}

nav a:hover{/*Propiedad hover: Capturo el movimiento del mouse*/
    color: #c78c19; /*Cambio de color a naranja cuando pasa por la etiqueta nav a*/
    text-decoration: underline;/*Subrayo el texto*/
}

.productos{
    width: 940px; /*Tamaño de la caja. */
    margin: 0 auto; /*Que se regule actumaticamente el espacio de la caja de 950px. El cero es espacio de arriba los demas espacios estan auto*/
    padding: 50px; /*Espacio entre header y main*/
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    /*background: #CCCCCC; /*Cambio el color de fondo del producto*//*background: #CCCCCC solo se utiliza referencia cuando se esta diseñando*/
    margin: 0 1.5%; /*Margen verticales: 0 y laterales: 1.5%*/
    padding: 30px 20px; /*Crear espacio verticales: 0 y laterales: 20px*/
    box-sizing: border-box; /*Ajustar espacio para el tamaño de la caja.*/
    border: 2px solid #000000;/*Resumiendo caracteristicas. Parametros: ancho del borde, estilo de borde, color de borde*/
    border-radius: 10px; /*Modifico los cuatro esquinas directamente*/

}

.productos li:hover{ /*Resalto cuando pasa el mouse*/
    border-color: #c78c19; /*Se resalta en color naranja*/
}

.productos li:active{/*Captura el click del mouse. Cambia de color ha verde cuando se hace click*/
    border-color: #088c19;
}

.productos h2{
    font-size: 20px; /*Cambiar el tamaño de la letra*/
    font-weight: bold; /*El tipo de letra*/
}

.productos li:hover h2{ /*Creo otro hover con mas prioridad*/
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px; /*Cambio de tamaño solo margen superior*/
}

footer{ /*Modifica caracterisca del pie de pagina*/
    text-align: center;
    background: url(imagenes/bg.jpg);/*el background hace que Llene todo el pie de pagina con la imagen bg*/
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}